<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
	<add key="Package source" value="D:\Repositorios\nupkg" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	<add key="Elsa 3 preview" value="https://f.feedz.io/elsa-workflows/elsa-3/nuget/index.json" />
    <add key="DevExpress 24.1 Local" value="D:\Repositorios\ECG\DevExpress 24.1\Components\System\Components\packages\" />
  </packageSources>
</configuration>
 